.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #575799;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  overflow: hidden;

    @media (max-width: 1440px) {
      padding: 0 60px;
      min-height: 900px;
    }

    @media (max-width: 1024px) {
      padding: 0 40px;
      min-height: 600px;
    }

    @media (max-width: 768px) {
      padding: 40px 20px;
      min-height: 600px;
    }
    @media (max-width: 427px) {
      height: 400px;
    }
}

.content {
  z-index: 2;
  max-width: 800px;
  color: #ffffff;
  font-family: var(--font-nunito);
  position: relative;
  margin-left: 30px;
  margin-top: 55px;

  @media(max-width: 1024px) {
    margin-left: -10px;
    margin-top: 100px;
  }

  @media(max-width: 768px) {
    margin-left: 5px;
    margin-top: -40px;
  }
}

.name {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 60px;
  font-family: var(--font-nunito);

    .name {
        font-family: var(--font-nunito);
        font-weight: 400;
        font-size: 40px;
        margin-left: -2.5px;

        @media (max-width: 1024px) {
            font-size: 3px;
        }

        @media (max-width: 768px) {
          font-size: 30px;
        }
    }
}

.name {
    font-family: var(--font-nunito);
    font-weight: 400;
    font-size: 50px;
    margin-left: -2.5px;

    @media (max-width: 1024px) {
        font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
}

.role {
  font-size: 20px;
  margin-bottom: 10px;

  @media (max-width: 1024px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
      font-size: 12px;
  }
}

.description {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 60px;
  font-family: var(--font-nunito);

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.button {
  width: 200px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 60px;
  transition: all 0.3s ease;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

  &:hover {
    background: #ffffff33;
    color: #fff;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 11px;
    width: 140px;
    height: 40px;
  }
}

.paperImage {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1600px;
  z-index: 1;
  pointer-events: none;

  @media (max-width: 427px) {
    max-width: 500px;
    width: 80%;
  }
  @media (max-width: 1024px) {
    width: 1300px;
  }
}

.quote {
  font-size: 22px;
  line-height: 2;
  text-align: right;
  font-family: var(--font-nunito);
  color: #ffffff;
  margin-top: -150px;

  @media (max-width: 1440px) {
    font-size: 22px;
  }
  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.quoteBox {
  position: absolute;
  top: 280px;
  left: 700px;
  font-style: italic;
  max-width: 530px;
  text-align: right;
  z-index: 2;

  @media (max-width: 1440px) {
    right: 260px;
    width: 530px;
  }
  @media (max-width: 1024px) {
    left: 400px;
    width: 500px;
  }
  @media (max-width: 768px) {
    top: 280px;
    left: 200px;
    font-style: italic;
    max-width: 520px;
  }
  @media (max-width: 427px) {
    display: none;
  }
}

.author {
  display: block;
  font-size: 20px;
  margin-top: 5px;
  font-family: var(--font-nunito);
  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
