.breadcrumbs {
  font-size: 14px;
  margin: 30px;
  margin-bottom: 0;
  color: #555;
  font-family: var(--font-nunito);
}

.breadcrumbs a {
  color: #9D9DCC;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

@media (max-width: 320px) {
  .breadcrumbs {
    display: block;
  }
}

@media (min-width: 321px) {
  .breadcrumbs {
    display: block;
  }
}


@media (min-width: 426px) {
  .breadcrumbs {
    display: flex;
  }

  .breadcrumbs {
    display: none;
  }
}
