.services {
    padding: 120px 20px 200px;

    @media (max-width: 1024px) {
      padding: 120px 20px 0;
    }

    @media (max-width: 768px) {
      padding: 0px 20px 0;
    }
  }

  .backgroundOval {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    width: 2400px;
    height: 1600px;
    background: #f2e8ff;
    border-radius: 50%;
    z-index: 0;
  }

  .title {
    text-align: center;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 42px;
    color: #1e1e1e;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;

    @media (max-width: 1024px){
      font-size: 30px;
    }

    @media (max-width: 768px){
      font-size: 24px;
    }
  }

  .cardsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    position: relative;
    z-index: 1;

  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  .card {
    width: 330px;
    height: 370px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1024px) {
      width: 260px;
      height: 290px;
    }

    @media (max-width: 768px){
      width: 220px;
      height: 250px;
    }
  }

  .cardTitle {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 20px;
    color: #1e1e1e;
    margin-bottom: 30px;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }

  .cardList {
    list-style: disc;
    padding-left: 50px;
    line-height: 1.5;
    font-family: var(--font-raleway);
    font-size: 18px;
    color: #1e1e1e;

    @media (max-width: 1024px) {
      font-size: 14px;
      margin-bottom: 15px;
    }

    @media (max-width: 768px) {
      font-size: 13px;
      padding-left: 30px;
    }
  }

  .priceButton {
    margin-top: auto;
    align-self: center;
    background: #9900ff;
    width: 160px;
    height: 60px;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    font-family: var(--font-raleway);

    @media (max-width: 1024px) {
      font-size: 18px;
      width: 120px;
      height: 40px;
      padding: 10px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .moreLink {
    margin-top: 10px;
    margin-right: 170px;
    font-family: var(--font-raleway);
    font-size: 14px;
    color: #1e1e1e;
    cursor: pointer;

    @media (max-width: 1024px) {
      margin-right: 50px;
      margin-top: 20px;
    }

    @media (max-width: 768px) {
      margin-right: 15px;
      margin-top: 15px;
      font-size: 12px;
    }
  }
