.footer {
  background-color: #575799;
  padding: 6rem 2rem;
  border-top: 1px solid #ddd;
  margin-top: 4rem;
  font-family: var(--font-nunito);
}

.container {
  display: flex;
  justify-content: left;
  max-width: 1100px;
  margin: 0 auto;
  gap: 8 rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.sections,
.contacts {
  flex: 0 1 auto;
  font-weight: 400;
}

.contacts {
  margin-left: 100px;
}

.contacts h4 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;

  @media (max-width: 427px){
    font-size: 16px;
  }
}

.sections ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sections li {
  margin-bottom: 0.5rem;

  @media (max-width: 427px){
    font-size: 14px;
  }
}

.sections a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s ease;
}

.sections a:hover {
  text-decoration: underline;
  color: #e7e3e3;
}

.contacts p {
  margin: 0.5rem 0;
  color: #ffffff;

  @media (max-width: 427px){
    font-size: 14px;
  }
}
