.page {
  background: url('/about.png') center top no-repeat;
  background-size: cover;
  font-family: var(--font-nunito);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -70px;

  @media (max-width: 320px){
    background: #fff;
  }
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 60px;
  box-sizing: border-box;
}
  /* обо мне */

.aboutSection {
  padding: 80px 60px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 120px;
  text-align: justify;
}

.contentWrapper {
  display: flex;
  max-width: 1180px;
  justify-content: space-between;
  gap: 80px;
}

.textContent {
  flex: 1;
  color: #333;
  font-size: 18px;
  line-height: 1.7;
  margin-top: -60px;
  max-width: 600px;
}

.text {
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #9D9DCC;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.footerNote {
  font-size: 18px;
  max-width: 1105px;
  margin-top: 0px;
  color: #333333;
}


  /* образование*/
.educationSection {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 60px;
  max-width: 1100px;
  margin: 0 auto;
}

.educationTitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: -50px;
  color: #9D9DCC;
  text-transform: lowercase;
}

.blockRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.textObr {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333333;
  text-align: justify;
}

.textObr1 {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333333;
  margin-top: 50px;
  text-align: justify;
}

.textList {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  max-width: 580px;
  color: #333333;
  margin-top: 80px;
  text-align: justify;
}

.textList ul {
  margin-top: 25px;
  padding-left: 20px;
}

.textList li {
  margin-bottom: 10px;
}

.grayBlock {
  width: 410px;
  height: 380px;
  background: #cfcfcf;
  border-radius: 5px;
  flex-shrink: 0;
  margin-top: -130px;
}

.grayBlockSmall {
  width: 440px;
  height: 280px;
  background: #cfcfcf;
  border-radius: 5px;
  flex-shrink: 0;
}

.blockGrid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 16px;
}

.square {
  width: 200px;
  height: 200px;
  background: #cfcfcf;
  border-radius: 5px;
}

  /* опыт */
.experienceSection {
  padding: 100px 80px;
  font-family: var(--font-nunito);
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiencetitle {
  font-size: 28px;
  color: #9D9DCC;
  font-weight: 600;
  margin-bottom: 55px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}
.contentWrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 90px;
}

.yearBox {
  background: #575799;
  color: white;
  font-weight: bold;
  padding: 16px 80px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.textOpit {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  width: 700px;
  margin-bottom: 25px;
  text-align: justify;
}

/* методы работы */
.methodtitle {
  font-size: 28px;
  color: #9D9DCC;
  font-weight: 600;
  text-transform: lowercase;
  margin-bottom: 50px;

}

.step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.methodsSection {
  padding: 100px 180px;
}

.textmethods {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
  text-align: justify;
}

.textmethods1 {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
  text-align: justify;
}

.textmethods2 {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 75px;
  text-align: justify;
}

.textmethods3 {
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 55px;
  text-align: justify;
}
.image {
  flex-shrink: 0;
}

.image3 {
  flex-shrink: 0;
  margin-right: 105px;
}


  /* картинка */
.paperSection {
  display: flex;
  padding: 80px 60px;
  margin-bottom: 100px;
}

.paperContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.paperImage {
  width: 1000px;
  height: auto;
  border-radius: 5px;
  margin-left: -200px;
}

.paperButton {
  background: #575799;
  color: white;
  padding: 18px 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(81, 81, 81, 0.3);
  cursor: pointer;
  font-weight: 400;
  white-space: nowrap;
  transition: background 0.2s ease;
  margin-right: 110px;
}

.paperQuote {
  width: 0;
}
.paperButton:hover {
  background: #7171c5;
}

@media (max-width: 1024px) {
  .blockRow,
  .step,
  .paperContent,
  .experienceSection {
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
  }

  .aboutSection {
    width: 1050px;
    margin-left: -60px;
  }

  .imagePlaceholder {
    width: 240px;
    height: 260px;
  }

  .container {
    padding: 0 40px;
  }

  .textOpit {
    width: 580px;
  }

  .contentWrapper2 {
    margin-left: -120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
  }

  .leftColumn {
    margin-top: 105px;
    gap: 60px;
  }

  .methodsSection {
    padding: 80px 100px;
  }

  .image {
    width: 350px;
    height: 250px;
    padding-left: 15px;
  }

  .paperImage {
    width: 850px;
    margin-left: -160px;
  }

  .paperButton {
    padding: 16px 20px;
    font-size: 16px;
    margin-top: 50px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container,
  .contentWrapper,
  .blockRow,
  .step,
  .paperContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 40px;
  }

  .imagePlaceholder,
  .grayBlock,
  .grayBlockSmall,
  .square {
    width: 100%;
    height: auto;
    max-height: 300px;
  }

  .textContent,
  .textObr,
  .textObr1,
  .textList,
  .textOpit,
  .textmethods,
  .textmethods1,
  .textmethods2,
  .textmethods3 {
    font-size: 16px;
    text-align: justify;
    padding: 0 10px;
    max-width: 100%;
  }

  .footerNote {
    font-size: 16px;
    text-align: justify;
    padding: 0 10px;
  }

  .blockGrid {
    grid-template-columns: 1fr;
  }

  .image,
  .image3 {
    width: 0;

  }

  .methodsSection,
  .experienceSection,
  .educationSection,
  .aboutSection {
    padding: 40px 20px;
  }

  .paperImage {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .paperButton {
    font-size: 16px;
    padding: 14px 30px;
    margin: 20px 0 0 0;
  }

  .title,
  .educationTitle,
  .experiencetitle,
  .methodtitle {
    font-size: 24px;
    text-align: center;
  }

  .aboutSection {
    width: 750px;
    margin-left: 0px;
  }

  .textOpit {
    width: 450px;
  }

  .footerNote {
    width: 670px;
    text-align: justify;
    padding: 0 10px;
  }

  .contentWrapper2 {
    gap: 20px;
    margin-left: -60px;
  }

  .yearBox {
    width: 150px;
    height: 40px;
    padding: 7px 0px;
  }

  .textmethods1 {
    margin-top: -600px;
  }

  .textmethods2 {
    margin-top: -110px;
  }

  .textmethods3 {
    margin-top: -540px;
  }
}

@media (max-width: 427px) {
  .page {
    margin-top: 60px;
    background: white;
    padding: 0 12px;
  }

  .aboutSection,
  .educationSection,
  .methodsSection {
    margin-left: -50px;
    width: 110vw;
  }

  .experienceSection {
    margin-left: 20px;
    margin-top: -340px;
  }

  .textOpit {
    width: 94vw;
    font-size: 14px;
  }

  .footerNote {
    width: 91%;
    line-height: 1.8;
  }

  .grayBlock {
    width: 100%;
    max-width: 110%;
    height: 230px;
    background: #cfcfcf;
    border-radius: 5px;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
  }

  .grayBlockSmall,
  .square {
    width: 0;
  }

  .imagePlaceholder {
    width: 100%;
    max-width: 280px;
    height: 200px;
    background: #cfcfcf;
    border-radius: 5px;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
  }

  .image,
  .image3 {
    width: 0;
  }

  .yearBox {
    display: none;
  }

  .step,
  .blockRow,
  .contentWrapper,
  .contentWrapper2,
  .paperContent {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: justify;
  }

  .contentWrapper {
    margin-top: -150px;
  }

  .textContent,
  .textmethods,
  .textmethods1,
  .textmethods2,
  .textmethods3,
  .textObr,
  .textObr1,
  .textList,
  .footerNote {
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-size: 15px;
    text-align: justify;
  }

  .textObr1 {
    margin-top: -70px;
  }

  .textList {
    margin-top: -70px;
    margin-bottom: 100px;
  }

  .textmethods1 {
    margin-top: -500px;
  }

  .textmethods2 {
    margin-top: 40px;
  }

  .textmethods3 {
    margin-top: -480px;
  }

  .textList ul {
    padding-left: 20px;
  }

  .paperButton {
    width: 170%;
    margin: 0;
    font-size: 15px;
    padding: 12px 20px;
    background: #575799;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(81, 81, 81, 0.3);
    cursor: pointer;
    font-weight: 400;
    white-space: nowrap;
    transition: background 0.2s ease;
  }

  .paperButton:hover {
    background: #7e7edf;
  }

  .paperImage {
    width: 0;
  }

  .paperQuote {
    width: 105vw;
    height: auto;
    margin-top: -50px;
  }
}
